/*
 * Basic theme as a starting point for any site
 * 
 * Inspired by: http://www.wordpress.org/
 */

#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -60px; /* 10px more than the push, for some reason */
	font-size: 1.3em;
}

.mini-wrap {
	position: relative;
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

header {
	position: relative;
	height: 120px;
	border-bottom: 1px solid #ccc;
	background-color: gainsboro;
}

header h1 a img {
	height: 100px;
	margin-top: 10px;
}

nav {
	position: absolute;
	bottom: 0;
	right: 0;
}

nav ul {
	list-style: none;
}

nav li {
	float: left;
}

nav li > a {
	float: left;
	display: block;
	padding: 0px 9px;
	font-size: 1.1em;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}

nav ul.sub-menu {
	background-color: gainsboro;
}

#title {
	border-bottom: 1px solid #dfdfdf;
	background-color: #f7f7f7;
}

#title .mini-wrap, #main .mini-wrap {
	width: 940px;
	padding: 10px;
}

footer {
	height: 50px;
}
